

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset:50,
        duration: 500
    });
</script>
  </body>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">

    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->

          <!--Grid column-->

          <!--Grid column-->

          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div> -->
        <!--Grid column-->

        <!--Grid column-->
        <div class="row">
       <!--Grid column-->
       <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
         <h5 class="text-uppercase">Acknowledgement</h5>

         <p>
           We are really grateful to Jay shetty, Deepak chopra, Tony robbins,
           Tom bilyeu, Robin sharma and Gaur gopal das because they play a very
            important role to motivate and inspire us to spread the knowledge worldwide.
         </p>
       </div>
       <!--Grid column-->

       <!--Grid column-->
       <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
         <h5 class="text-uppercase">Acknowledgement</h5>

         <p>
           You can check out their work and we'll all be sharing some of their beautiful
            thoughts on this website.
            Have a nice day!!
         </p>
       </div>
       <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
         <h5 class="text-uppercase">Links</h5>

         <ul class="list-unstyled mb-0">
           <li>
             <a href="#!" class="text-white">Instagram</a>
           </li>
           <li>
             <a href="https://open.spotify.com/show/5ubVYHcyfV3nh9Vzj9b2ws?si=uemqZy3gSTC2pO7PC8ktHA" class="text-white">Spotify</a>
           </li>
           <li>
             <a href="#!" class="text-white">Link 3</a>
           </li>
           <li>
             <a href="#!" class="text-white">Link 4</a>
           </li>
         </ul>
       </div>
       <!--Grid column-->

     </div>
        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    WAYF © 2021 Copyright:
  </div>
  <!-- Copyright -->
</footer>

<!-- Footer -->
<!-- Footer -->
</html>
