<%- include('partials/header'); -%>
<div class="container">
<div class="container contactContainer">
  <div class="row" data-aos="fade-up">
    <div class="col-12 col-lg-8">
      <h1 class="high">
    Contact
     </h1>
      <p class = "pera">
        We are also there to listen to you and help you out to find a right solution to your problems. It is our responsibility to make you feel mentally relaxed and find inner happiness. You can count on us if you need someone genuine to listen to you.
Please feel free to either text or call us on
  </p>
  <p class="pera"><b>9818038303</b></p>
  <p class=pera>If you want to share your ideas or thoughts in the form of blogs, quotes, videos etc. please email them on
</p>

<p class="pera"><b>weareyourfriends111@gmail.com</b></p>

<p class = "pera">
  Have a nice day!!

</p>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Suggestions</h5>
        <p class="card-text">Some quick links for you !</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/blogs/relationship" class="card-link">Relationship Blogs</a></li>
        <li class="list-group-item"><a href="/podcast" class="card-link">Curated Podcast & Playlist</a></li>
        <li class="list-group-item"><a href="/videos/happinessandfun" class="card-link">Useful Videos</a></li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">You’ll find posts about happiness, love,
           relationships, change, meaning, mindfulness, spirituality, simplicity,
            minimalism, letting go, and more.</li>
      </ul>
    </div>
    </div>



  </div>
</div>
</div>
<%- include('partials/footer'); -%>
