<%- include('partials/header'); -%>
<div class="container">
  <div class="container contactContainer">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <form class="form-floating" action="/deleteBlog" method="post">
          <div class="form-group">

          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea2">Enter _id for the blog</label>
            <textarea class="form-control" name="idea" rows="3"></textarea>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control " id="floatingInput"type="password" name="psw" value="" placeholder="Enter Password">
            <label for="floatingInput">Enter Password</label>

        </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>
