<%- include('partials/header'); -%>
<header class="bg-primary py-5 mb-5">
    <div class="container h-100" data-aos="fade-up">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">We are your friends :)</h1>
          <p class="lead mb-5 text-white-50">You can count on us to find your inner-happiness and purpose because we are there for you.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row" data-aos="slide-up">
      <div class="col-md-8 mb-5">
        <h2>What We Do</h2>
        <hr>
        <p>You’ll find posts about happiness, love, relationships, change, meaning,
        mindfulness, spirituality, simplicity, minimalism, letting go, and more.
        It’s all about ideas that make sense and they will make a humungous difference
        when implemented fully.</p>
        <p>iSort is made by three friends who want to be your
          genuine friends and help you to find solutions,motivate you and provide
          you with positive and healthy vibes.</p>
          <p>WAYF is about reflecting on simple
          wisdom and learning new ways to apply it to our complex lives—complete
          with responsibilities, struggles, dreams, and relationships.</p>
        <a class="btn btn-primary btn-lg" href="/contact">Contact Us &raquo;</a>
      </div>
      <div class="col-md-4 mb-5">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/JdBYVNuky1M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Blogs</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
          </div>
          <div class="card-footer">
            <a href="/blogs" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Quotes</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
          </div>
          <div class="card-footer">
            <a href="/quotes" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Podcasts & Playlists</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="/podcast" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>


<%- include('partials/footer'); -%>
